:root {
    --midnight: #1f2937;
    --proportion: '----';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

nav {
    background-color: var(--midnight);
    display: flex;
    justify-content: center;
    padding: 8px;
}

nav > * {
    max-width: 800px;
    width: 100%;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.logo {
    color: white;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.grid-reset {
    background-color: white;
    color: var(--midnight);
    border: 2px solid white;
    border-radius: 5px;
    margin: 4px 0;
    padding: 8px 12px;
}

.grid-reset:hover {
    cursor: pointer;
    background-color: inherit;
    color: white;
}

.invisible {
    visibility: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
}

.piece {
    flex: 0 1 var(--proportion);
    aspect-ratio: 1 / 1;
    border: inherit;
}