:root {
    --proportion: '----';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-reset {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 0;
    margin: 4px 0;
    padding: 8px 12px;
}

.invisible {
    visibility: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
}

.piece {
    flex: 0 1 var(--proportion);
    aspect-ratio: 1 / 1;
    border: inherit;
}